<?xml version='1.0' encoding='utf-8'?>
<Context reloadable="true">
    <!-- Have to set this so that the common class loader classes are loaded first -->
    <!-- https://tomcat.apache.org/tomcat-8.5-doc/class-loader-howto.html -->
    <Loader delegate="true"/>
    <Environment name="beadledom/service/key1"
                 value="value1"
                 type="java.lang.String"
                 override="false"/>

    <Environment name="beadledom/service/key2"
                 value="12"
                 type="java.lang.Integer"
                 override="false"/>
</Context>
