<?xml version='1.0' encoding='utf-8'?>
<Context reloadable="true">
    <Environment name="beadledom/service/key1"
                 value="value1"
                 type="java.lang.String"
                 override="false"/>

    <Environment name="beadledom/service/key2"
                 value="12"
                 type="java.lang.Integer"
                 override="false"/>
</Context>
