<!DOCTYPE html>
<html>
<head>
    <title>Dependency Listing</title>
    {{> style}}
</head>
<body>

<table>
    <thead>
    <tr>
        <td>Dependency</td>
        <td>Connectivity/Availability Check</td>
    </tr>
    </thead>
    <tbody>
    {{#dependencies}}
        <tr>
            <td><a href="{{link}}">{{name}}</a></td>
        </tr>
    {{/dependencies}}
    </tbody>
</table>

</body>
</html>
