<!DOCTYPE html>
<html>
<head>
    <title>Version Information</title>
    {{> style}}
</head>
<body>

<dl>
    <dt>Artifact Name</dt>
    <dd>{{artifactName}}</dd>

    <dt>Build Date Time</dt>
    <dd>{{buildDateTime}}</dd>

    <dt>Version</dt>
    <dd>{{version}}</dd>
</dl>

</body>
</html>
